---
import "../styles/global.css";
import CamLogo from "../assets/camRec.png";
---

<header class="navbar bg-base-100 shadow">
    <div class="container mx-auto px-4 flex justify-between items-center">
      <a href="/" class="flex items-center">
        <img src={CamLogo.src} alt="Cam Recommends Logo" class="h-12 w-auto" />
      </a>
    </div>
</header>